<div class="container">
    <h2>Dernière actualisation: {{lastUpdate | async | date:'yMMMMEEEd' | uppercase}}</h2>
     <app-device 
     *ngFor="let device of devices; let i = index"
     [indexOfDevice]= "i"
     [deviceName]="device.name"
     [status]="device.status"
     [id]="device.id"
     
     ></app-device>
     
     <button 
     class="btn btn-success"
     [disabled]="!isAuth"
     (click)="onCheck()" 
     >
     tout allumer
    </button>
    <button class="btn btn-danger" (click)="onPutOut()">Tout éteindre</button>
    <button class="btn btn-primary" (click)="onSave()">entregistrer</button>
    <button class="btn btn-primary" (click)="onFetch()">Charger</button>
    
    </div>
